* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #fff;
}

/* Reset CSS */
a {
    color: inherit;
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

strong {
    font-size: 22px;
    line-height: 1.3636363636;
    font-weight: 700;
    color: #3B3E43;
}

.fill-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 61px;
    font-weight: 700;
    font-size: 14px;
    line-height: 148%;
    border-radius: 60px;
    color: #57B3FE;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}

/* Hero */
.hero {
    background-image: url('./Assets/Hero_bg.svg');
    background-repeat: no-repeat;
    padding: 10px 0 46px;
}

.hero-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.hero-link a {
    font-size: 16px;
    line-height: 1;
    color: #fff;
    margin: 0 14px;
}

.hero-title {
    margin-bottom: 8px;
    font-size: 37px;
    line-height: 1.2;
    color: #fff;
}

.hero-ment {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.7;
    color: #fff;
    opacity: 0.8;
}

.hero-image {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

/* Features */
.features {
    background-image: url('./Assets/Features_bg.svg');
    background-repeat: no-repeat;
    padding: 46px 0;
}

.features-top {
    margin-bottom: 8px;
    height: 200px;
}

.features-top-banner {
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.15em;
    color: #00A077;
    font-weight: 700;
}

.features-top-title {
    margin-bottom: 0;
    font-size: 43px;
    line-height: 1.22;
    color: #3B3E43;
}

.features-list {
    margin-bottom: 10px;
    height: 335px;
    padding: 50px 23px 74px 41px;
    background-color: #fff;
    box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}

.features-list-icon {
    margin-bottom: 20px;
    display: block;
    padding: 11px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #E7F2EF;
}

.features-list-ment {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #595E64;
}

/* Process */
.process {
    background-image: url('./Assets/Process_bg.svg');
    background-repeat: no-repeat;
    padding: 46px 0;
}

.process-banner {
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.15em;
    color: #fff;
    opacity: 0.5;
    font-weight: 700;
}

.process-title {
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 1.22;
    color: #fff;
}

.process-desc {
    font-size: 20px;
    line-height: 1.7;
    color: #fff;
}

.process-image {
    display: none;
}

.process-list {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    height: 220px;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
}

.process-list-icon {
    display: block;
    width: 50px;
    height: 50px;
}

.process-list-desc {
    font-size: 16px;
    line-height: 1.5;
    color: #595E64;
}

/* Brands */
.brands {
    background-color: #F2F2F2;
    padding: 46px 0;
}

.brands-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brands-title {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.15em;
    color: #00A077;
    font-weight: 700;
}

.brands-desc {
    font-size: 20px;
    line-height: 1.22;
    color: #3B3E43;
    text-align: center;
}

.brands-logos {
    margin-bottom: 15px;
}

.brands-bottom {
    font-size: 16px;
    line-height: 1.48;
    color: #424A4D;
}

/* Start */
.start {
    background-image: url('./Assets/Start_bg.svg');
    background-repeat: no-repeat;
    padding: 46px 0;
}

.start-banner {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.15em;
    color: #fff;
    font-weight: 700;
}

.start-title {
    margin-bottom: 8px;
    font-size: 47px;
    line-height: 1.22;
    color: #fff;
}

.start-desc {
    font-size: 20px;
    line-height: 1.7;
    color: #fff;
}

.start-img {
    width: 100%;
}

/* Footer */
.footer {
    background-color: #0D0D0D;
    padding: 46px 0;
}

.footer .row:first-child {
    border-bottom: 1px solid #fff;
}

.footer-logo {
    width: 176px;
    height: 41px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.footer-link {
    display: block;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 7 00;
}

.footer-company {
    font-size: 15px;
    line-height: 1.6666666667;
    color: rgba(255, 255, 255, 0.8);
}

.footer-etc {
    font-size: 15px;
    line-height: 1.3333333333;
    color: rgba(255, 255, 255, 0.8);
}

/* >= 1024px (Desktop) */
@media screen and (min-width: 1024px) {
    /* Reset CSS */

    /* Hero */
    .hero-links {
        margin: 43px 0 127px 0;
        flex-direction: row;
        margin-bottom: 127px;
    }

    .hero-link a {
        margin-right: 32px;
    }

    .hero-link a:last-child {
        margin-right: 0;
    }

    .hero-title {
        margin-bottom: 8px;
        font-size: 61px;
        text-align: center;
    }

    .hero-ment {
        margin-bottom: 41px;
        font-size: 20px;
        text-align: center;
    }

    .hero .col-md-12:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fill-button {
        margin-bottom: 90px;
    }

    /* Features */

    /* Process */
    .process .row:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .process-banner {
        margin-bottom: 14px;
        text-align: center;
    }
    
    .process-title {
        margin-bottom: 24px;
        text-align: center;
    }
    
    .process-desc {
        margin-bottom: 32px;
        width: 718px;
        text-align: center;
    }

    .process-list {
        height: 323px;
    }

    .process-image {
        display: block;
        width: 480px;
        height: 100%;
    }

    .process-list-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Brands */
    .brands {
        padding: 184px 0;
    }

    .brands-title {
        margin-bottom: 24px;
    }

    .brands-desc {
        font-size: 48px;
    }

    .brands-logos {
        padding: 0 48px;
        margin-bottom: 16px;
    }

    .brands-logo {
        padding: 0 10px;
        margin-bottom: 24px;
    }

    .brands-bottom {
        text-align: center;
        font-size: 16px;
    }

    /* Start */

    /* Footer */


}
    